body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


.mainContainer {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 60%;
    text-align: center;
    background-color: #fdfdfd;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-shadow: rgb(198, 230, 255) 1px 0 10px;
    text-decoration: underline;
}