@import url('https://fonts.googleapis.com/css2?family=Font+Name&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* General styles outside media query, for larger screens */
.safeRouteContainer {
  text-align: center;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  border: 2px maroon solid;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .safeRouteContainer {
    padding: 30px;
    width: 95%;
    min-height: 250px;
  }
}

/* Media queries for even smaller screens */
@media (max-width: 480px) {
  .safeRouteContainer {
    padding: 20px;
    width: calc(100% - 30px);
    margin: 15px;
    min-height: 200px;
  }
}

.heading {
  text-align: center;
  color: rgb(100, 12, 12);
  padding: 0;
  margin: 0;
  font-family: 'Comic Sans MS';
}

.navbar {
    background-color: rgb(100, 12, 12);
    overflow: hidden;
}

.navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarList li {
    float: left;
    padding: 0 10px; 
}

.navbarList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbarList li a:hover {
    background-color: rgb(233, 209, 71);
    color: black;
}

.navbarList li .curLoc {
  background-color: rgb(235, 200, 0);
  color: black;
}

.notificationsButton {
  float: right;
  margin: 0;
  margin-left: auto;
  color: white;
  background-color: rgb(100, 12, 12);
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: small;
  border-radius: 0;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.notificationsButton:hover {
  background-color: rgb(233, 209, 71);
  color: black;
  cursor: pointer;
}

.backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Place it behind other elements */
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.container {
    margin: 20px;
}

.crimeHeading {
    color: white;
    text-align: center;
}

.crimeContainer {
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 275px;
    background-color: rgb(100, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Recent Incidents Section Styles */
.recentIncidents {
    width: 70%;
}

.recentIncidents h2 {
    font-size: 1.5rem;
    margin-bottom: 3vh;
}

.recentIncidents ul {
    list-style-type: none;
    padding: 0;
}

.recentIncidents li {
    background-color: rgba(233, 209, 71, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.recentIncidents li:nth-child(odd) {
    animation-delay: 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.recentIncidents li strong {
    font-weight: bold;
    color: rgb(100, 12, 12);
}

.recentIncidents li span {
    display: block;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  .navbar {
    background-color: rgb(100, 12, 12);
    overflow: hidden;
  }

  .navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbarList li {
    float: left;
    padding: 0px;
  }
}
