/* .notificationsButton {
  width: max-content;
  background-color: rgb(100, 12, 12);
  margin: 0;
  padding: 0;
}
.notificationsButton:hover {
  background-color: rgb(233, 209, 71);
  color: black;
} */
