body {
    background-color: rgb(151, 26, 26);
}

.container {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 205, 0);
    width: 50vw;
    height: 50vh;
    border-radius: 15px;
    border: 2px solid maroon;
}

.textarea {
    width: 300px;
    height: 200px; 
    margin-bottom: 20px;
}

.notiButton:hover {
    cursor: pointer;
}
