body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.mapContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.searchInputContainer {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.sideBar {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(233, 209, 71);
  justify-content: top;
  align-items: center;
}

.profile {
  background-color: rgb(100, 12, 12);
  padding: 20px;
  padding-top: 25px;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  background-color: rgb(100, 12, 12);
  width: 100px;
  height: 100px;
  margin-right: 3vw;

  border-radius: 50px;
}

.toggleButtonDay {
  background-color: rgb(157, 102, 0);
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(157, 102, 0);
  border-style: solid;
  color: white;
  width: 12vw;
}

.toggleButtonNight {
  background-color: darkblue;
  border-width: 2px;
  border-color: darkblue;
  border-style: solid;
  border-radius: 10px;
  color: white;
  width: 12vw;
}

/* so color of button stays the same when you click it (overlaying css style issue) */
.showLocations:focus,
.showLocations:hover,
.toggleButtonDay:focus,
.toggleButtonDay:hover {
  background-color: rgb(157, 102, 0);
  cursor: pointer;
}

.toggleButtonNight:focus,
.toggleButtonNight:hover {
  background-color: darkblue;
  cursor: pointer;
}

.hideLocations:focus,
.hideLocations:hover {
  background-color: white;
  cursor: pointer;
}

.savedLocations {
  margin-top: 5vh;
  color: rgb(0, 132, 255);
  text-decoration: none;
}

.savedLocations:hover {
  cursor: pointer;
}

.sideBarClosed {
  width: 0;
  overflow: hidden;
}

.mapContainerClosed {
  width: 100%;
}

.navigationBar {
  display: flex;
  width: 100%;
  height: 5vh;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.navigationBar .navWidget {
  display: flex;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(61, 7, 7);
  width: 50%;
  height: 100%;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.navigationBar .navWidget:hover {
  background-color: rgb(233, 209, 71);
  color: black;
}

.showLocations {
  background-color: rgb(157, 102, 0);
  border-width: 2px;
  border-color: rgb(157, 102, 0);
  border-style: solid;
  border-radius: 10px;
  color: white;
  width: 12vw;
}

.hideLocations {
  background-color: white;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(157, 102, 0);
  border-style: solid;
  color: black;
  width: 12vw;
}

.toggleButtons {
  margin-top: auto;
}
