/* body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgb(100, 12, 12);
  align-items: center;
} */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.outerContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: rgb(100, 12, 12);
    align-items: center;
    background-image: url("../images/campus2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mainContainer {
    margin-top: 5vh;
    justify-content: center;
    background-color: rgb(233, 209, 71);
    padding: 20px;
    width: 50vw;
    margin: 50px;
    border-radius: 10px;
}

.savedLocations,
.createLocation {
    background-color: white;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.createLocation input {
    border-radius: 5px;
}
.savedLocations h2 {
    text-align: center;
}

.createLocation {
    text-align: center;
}

.locationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.locationName {
    flex: 1;
}

.icons {
    display: flex;
}

.editIcon,
.deleteIcon {
    margin-left: 10px;
}

.editIcon:hover,
.deleteIcon:hover {
    cursor: pointer;
}

.deleteIcon {
  color: red;
}

.buttonDiv {
    display: flex;
    justify-content: space-between;
}

.saveLocationBtn:hover {
    cursor: pointer;
}

button {
    background-color: rgb(100, 12, 12);
    border-radius: 5px;
    border-width: 0;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: rgb(63, 10, 10);
}

.navigationBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: rgb(61, 7, 7);
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    z-index: 999; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigationBar .navWidget {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 7, 7);
    height: 100%;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0 30px; 
}

.navigationBar .navWidget:hover {
    background-color: rgb(233, 209, 71);
    color: black;
}
